.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.sidebar{
    float:right;
}
.img-circle {
    height:100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.personname{
    text-align:center;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}